* {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  clear: both;
}

body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  color: #222222;
  position: relative;
}

h1, h2, .green-heading {
  font-family: "Amatic SC", cursive;
  color: #1c8788;
  font-size: 100px;
}

h2, .green-heading {
  font-size: 70px;
  color: white;
}

p {
  font-size: 110%;
}

.green-heading {
  color: #1c8788;
}

a {
  text-decoration: none;
  color: #1c8788;
}

a:hover {
  text-decoration: none;
  color: #146263;
}

.yes-btn {
  border: 1px solid #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #f8f8f8;
  padding: 2% 5%;
}

.yes-btn:hover {
  color: #1c8788;
  background-color: #f8f8f8;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.send-btn {
  background-color: #1c8788;
  padding: 2% 8%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5%;
  color: #f8f8f8;
  font-size: 150%;
  border: 2px solid #1c8788;
}

.send-btn:hover {
  background-color: transparent;
  color: #1c8788;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header nav {
  margin-bottom: 20px;
}
header nav img {
  width: 75px;
}
header nav ul {
  float: right;
  margin-top: 27px;
}
header nav ul li {
  display: inline;
  margin-left: 40px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.section {
  padding: 2% 0 2% 0;
}

.why {
  background-color: #1c8788;
  color: #f8f8f8;
}
.why .glyphicon {
  font-size: 400%;
  margin: 5% 0 5% 0;
}

.do #div-one {
  border-right: 1px solid #1c8788;
}

.who {
  padding: 10% 0 10% 0;
  background-image: linear-gradient(rgba(28, 135, 136, 0.9), rgba(0, 0, 0, 0.5)), url(../../images/who.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.who p:last-of-type {
  margin-bottom: 40px;
}
.who .green-area {
  background-color: rgba(28, 135, 136, 0.8);
  color: #f8f8f8;
  padding: 4% 2% 4% 2%;
  font-size: 20px;
}

.contact form {
  margin-top: 2%;
}
.contact form .input-group {
  margin-top: 10px;
}
.contact form .wrap-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.footer {
  color: #f8f8f8;
  background-color: #444444;
  font-size: 14px;
  padding: 1% 0 1% 0;
}
