/// Regular font family
$regular-font: 'Roboto', sans-serif;

//Cursive font family
$display-font: 'Amatic SC', cursive;

/// Copy text color
$text-color: #222222;

/// Main brand color
$brand-color: #1C8788;

/// Dark brand color
$dark-brand-color: #146263;

/// Light background grey
$light-grey: #f8f8f8;

/// Medium grey
$mid-grey: #666666;

/// Dark grey
$dark-grey: #444444;